
<div class="container" id="page-content">
 <div class="container" id="home-container">
  <div class="mt-4 p-5 text-white rounded text-center" id="jumbi">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is a jumbotron example<p>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
 </div>
</div>

 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark fixed-bottom text-white-50">
   <div class="container text-center">
     <small>Copyright &copy; Your Website</small>
   </div>
 </footer>

