 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark fixed-bottom text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Tommy Martinez", "https://twitch.tv/tommythe", class: "text-white" %></small>
  </div>
</footer>